<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Dashboard</a></li>
            <li><a href="/login">Login</a></li>           
        </ul>
    </nav>    
      <h1>
        The Tech Blog 
      </h1>
    </header>
      <main class="main-container">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>