<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        The Tech Blog 
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
        <div class='add-blog-container'>
    <h2>
      Welcome to the blog!
    </h2>
    <form class='new-blog-form'>
      <label for='blog_title'>
        Title:
      </label>
      <br />
      <textarea id='blog_title' name='blog_title' rows='2' cols='30'>
        {{title}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new dish -->
<script src='/public/js/new-blog.js'></script>
  </div>
  </body>

</html>