<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
    <nav>
        <ul class="navbar">
            <li><a href="/" class="links">Home</a></li>
            <li><a href="/blog" class="links">Dashboard</a></li>
            {{#if loggedIn}}
            <li><a href="/" id="logout" class="links">Logout</a></ul>
            {{else}}  
            <li><a href="/login" class="links">Login</a></li>      
            {{/if}}     
        </ul>
    </nav>    
      <h1>
        The Tech Blog 
      </h1>
    </header>
      <main class="main-container">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>

<script src='/js/logout.js'></script> 