
<div class="blog-container">

  {{#each blogs as |blog|}}
    <div class="whole-post">
        <div class='blog-post-title'>
        <p>{{blog.title}}</p>
        </div>  
        <div class='blog-post-description'>
        <p>{{blog.description}}</p>
        </div>
    </div>
    {{/each}}

</div>    


