:root {
    --brown: rgb(43, 26, 26);
    --green: rgb(189, 228, 189);
    --gray: #6c6b67;
  }
  
  * {
    box-sizing: border-box;

}  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--green);
  }
  
  header {
    padding: 40px;
    text-align: left;
    background: var(--brown);
    color: var(--gray);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    text-align: left;
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    padding-right: 30rem;    
    justify-content: space-around;
    
  }

  .links {
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .add-blog-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

h1 {
    font-size: 45px;
}

.login-signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding-left: 30rem; */
}

.add-blog-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blog-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-left: 3rem;
    padding-right: 3rem;
}

.whole-post {
    border: solid 2px;
    margin-top: 2rem;
    width: 100%;
}

.blog-post-title {
    width: 100%;
    border: solid 2px;
    background-color: var(--brown);
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.blog-post-description {
    padding-left: 1.5rem;
}

#title {
    font-size: 1.5rem;
}

#author {
    padding-top: .5rem;
}

#login-warning {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
}