:root {
    --brown: rgb(43, 26, 26);
    --green: rgb(189, 228, 189);
    --tertiary: #fa7f72;
    --gray: #6c6b67;
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--green);
  }
  
  header {
    padding: 40px;
    text-align: left;
    background: var(--brown);
    color: var(--gray);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }